


.statistics-actions button{
  border: 3px solid #68665F;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #68665F;
  background: none;
  cursor: pointer;
  outline: none;
}



.statistics-container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.statistics-actions{
  display: flex;
  justify-content: space-between;
}

.statistics-actions ul+button{
  border: 3px solid #68665F;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
}

.statistics-actions ul+button svg path{
  fill: #68665F;
}

.statistics-actions ul+button svg{
  width: 1rem;
  height: 1rem;
}
