.suggestions-container {
  padding: 1rem;
}

.category-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.description-actions {
  padding: 0 0.3rem;

  display: flex;
  justify-content: space-between;
}

.description-actions svg {
  width: 1rem;
  height: 1rem;
}
.description-actions svg path {
  fill: #ede9d3;
}

.description-actions button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.description-actions h2 {
  font-size: 1rem;
  color: #ede9d3;
}

.category-description {
  padding: 1rem;
  text-align: justify;
}

.category-description p::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.category-description p::-webkit-scrollbar-thumb {
  background: #ede9d3;
  border-radius: 10px;
}
.category-description p::-webkit-scrollbar-thumb:hover {
  display: none;
}
.category-description p::-webkit-scrollbar-track {
  display: none;
}

.category-description p::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.category-description p {
  margin-top: 0.5rem;
  height: 5rem;
  overflow: scroll;
  padding: 0 0.3rem;
}

.expending-editable {
  transition: height 0.5s;
  background-color: #292929;
  border-radius: 6px;
  height: 0;
  width: 100%;
}

.expending-editing {
  height: 27em;
  background-color: #292929;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
}
.editor-content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.suggestions-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.amount-card {
  min-height: 8.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin-right: 1rem;
}

.amount-card p {
  font-size: 3rem;
  color: #e3aa27;
}

.amount-card p + p {
  font-size: 1.5rem;
  color: #ede9d3;
}

.description-editor {
  animation: appear 0.2s ease-out;
  width: 100%;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.suggestions-listing{
  overflow: scroll;
  padding-bottom: 3rem;

}

.suggestions-listing::-webkit-scrollbar {
  display: none;
}

