.user-listing-button{
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  padding: 0.6rem;
  background-color: #292929;
  border-radius: 6px;
  cursor: pointer;
  color: #ede9d3;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0.5rem;
  animation: email-appear 0.5s ease-out forwards;
}


@keyframes email-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


