.user-listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.user-listing-container p {
  margin-top: 1rem;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.user-listing-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.user-listing-inputs > * {
  margin: 0 0.5rem;
}

.search-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  border-radius: 6px;
}

.search-user input {
  height: 2rem;
  width: 17rem;
  padding: auto;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  color: #68665f;
  margin-left: 0.5rem;
}

.search-user svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.search-user svg path {
  fill: #68665f;
}

.button-load-more {
  width: 15rem;
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  background-color: #e3aa27;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  animation: slide-up-appear 0.8s ease-out forwards;
  margin: 0.5rem;
}

@keyframes slide-up-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
