.error-area{
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 6px;
}

.error-area p{
  font-family: 'Roboto Condensed', sans-serif;
  color: #ede9d3;
}

.error-area button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: auto;
  outline: none;
  color: #ede9d3;
  display: flex;
  justify-content: center;
}

.errorCtrl{
  width: 1rem;
  height: 1rem;
  fill: #ede9d3;
}


