.user-details-container{
  display: flex;
  justify-content: space-between;
}

.premium-user-info p{
  display: inline;
}

.premium-user-info p+p{
  font-weight: 600;
}

.general-user-info .group+.group{
  margin-top: 0.5rem;

}

.group {
  display: flex;
  align-items: center;
}

.group svg{
  width: 1rem;
  height: auto;
  display: inline;
}

.group p {
  display: inline;
  margin-left: 0.4rem;
  font-size: 1rem;
}
