/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* -webkit-app-region: drag; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #121212;
  height: 100%;
  color: #68665f;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-container {
  height: 100%;
  display: flex;
  vertical-align: bottom;
}

.content {
  margin: 0.8rem 1rem;
  width: 100%;
}

ul {
  list-style-type: none;
}

.input-group input[type='text'],
.input-group input[type='email'],
.input-group input[type='password'],
.input-group textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  padding-left: 10px;
  display: block;
  width: 100%;
  background: none;
  border: 3px solid #68665f;
  border-radius: 6px;
  height: 2.8rem;
  outline: none;
  color: #ede9d3;
}

.input-group input[type='file'] {
  display: none;
  cursor: pointer;
}

.input-group input[type='file'] button{
  background-color: #e3aa27;
}

.focused input[type='text'],
.focused input[type='email'],
.focused input[type='password'],
.focused textarea {
  border-color: #e3aa27;
}

.focused label {
  color: #ede9d3;
}

.input-group label {
  font-weight: bold;
}

.input-group + .input-group {
  margin-top: 0.5rem;
}

button {
  outline: none;
}

form {
  margin-top: 1rem;
}

form button[type='submit'] {
  margin-top: 2rem;
}

button[type='submit'] {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 2.8rem;
  width: 100%;
  border-radius: 6px;
  background-color: #e3aa27;
  border: 3px solid #e3aa27;
  cursor: pointer;
}

.input-group textarea {
  padding: 0.5rem;
  resize: none;
  height: 10rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.input-group textarea::-webkit-scrollbar {
  display: none;
}
