.suggestion-card{
  position: relative;
  margin-top: 1rem;
  padding: 0.5rem;

}

.suggestion-card h2{
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #e3aa27;
}


.suggestion-card p+p{
  margin-top: 0.3rem;
}

.media-link{
  color: #ede9d3;
  text-decoration: none;
  font-weight: 600;
}

.suggestion-card button{
  background-color: transparent;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  cursor: pointer;
}

.suggestion-card svg{
  width: 1rem;
  height: 100%;
}

.suggestion-card path {
  fill: #ede9d3;
}
